<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Reem+Kufi+Ink&family=Staatliches&display=swap" rel="stylesheet">
<body>

<div th:fragment="copy">
    <div class="card">
        <div class="card-body d-flex justify-content-center">
            &copy; 2022 S4&trade;
        </div>
    </div>
</div>

</body>
</html>
